*{
    margin: 0;
    padding: 0;

    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px black; 
 background-color: #000000;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #525252; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: navy; 
}


/* Navbar Section */
.navbar{
    height: 10%;
    display: flex;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 60px;
    z-index: 1;
    width: 100%;
    background: #000000;  /* fallback for old browsers */

         
    margin:  0px auto;
    padding:  0px 10px;
    position:fixed;
  }
  
  #navbar__logo {
    background: white;  /* fallback for old browsers */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }
  
  .navbar__menu {
    display: flex;
    background-color: transparent;
    align-items: center;
    width: 60%;
    list-style: none;
  }
  
  .navbar__item {
    height: 100%;
    background: transparent;
    
  }
  
  .navbar__links {
    color: #fff;
    background-color: transparent;
    display: table;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
  }
  .navbar__links:hover {
    background: #FF4E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000851);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    transition: all 0.3s ease;
  }
/* Hero Section */
  .hero{
    text-align: center;
    align-items: center;


    background-size: cover;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.2)),url(/background.jpg);

  }

  .hero__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
 

  }

  .hero__heading{
    color: #fff;
    font-size: 5rem;
    padding: 20px;
  }

  .hero__heading span {
    background: #FF5F6D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000851);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mo-text-fill-color: transparent;

    padding: 10px;
  
  }
.hero__description{
  color: white;
  font-size: 1rem;


}

.socials ul > li{
  display: inline-block;
  align-items: center;
  justify-content: center;

  padding: 15px;
}

#paul__selfie{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  /* About Section */

  #carleton__pic{
    display: flex;
    justify-content: center;
  }

.about{
  display: flex;
  justify-content: center;
  background: #000000;
}

.about__container{
  display: flex;
  justify-content: center;

}
.about__header{
  background: #FF5F6D;  /* fallback for old browsers */
  background:(to right, #1CB5E0, #000851);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -mo-text-fill-color: transparent;
  
  align-items: center;
  position: absolute;
}



.about__cards{
  padding: 50px;
  border: 100px;
  align-items: center;

  text-align: center;
  display: flex;
  justify-content: center;
}

.aboutp {
color: white;
text-align: center;
width: fit-content;

}

#about__card1 {
  border-right: 50px;
  border: 2px solid #ccc;
  width:fit-content;
  margin: 5%;
}

#about__card2 {
  border-right: 50px;
  border: 2px solid #ccc;
  width: fit-content;
  margin: 5%;
}

#about__card3 {
  border-right: 50px;
  border: 2px solid #ccc;
  width: fit-content;
  margin: 5%;
}
#about__card3 ul{
  color: white;
}
#about__card2 ol{
  color: white;
}