*{
    margin: 0;
    padding: 0;

    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Navbar Section */
.navbar{
    height: 10%;
    display: flex;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 60px;
    z-index: 1;
    width: 100%;
    background: #000000;  /* fallback for old browsers */

         
    margin:  0px auto;
    padding:  0px 50px;
  }
  
  #navbar__logo {
    background: white;  /* fallback for old browsers */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }
  
  .navbar__menu {
    display: flex;
    background-color: transparent;
    align-items: center;
    width: 60%;
    list-style: none;
  }
  
  .navbar__item {
    height: 100%;
    background: transparent;
    
  }
  
  .navbar__links {
    color: #fff;
    background-color: transparent;
    display: table;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
  }
  .navbar__links:hover {
    background: #FF4E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000851);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    transition: all 0.3s ease;
  }
/* Hero Section */
  .hero{
    text-align: center;
    align-items: center;

  }

  .hero__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
   
    height: 90%;
    text-align: center;
    padding: 30px;

    
  }

  .bg__image{

    background-image: url(/background.jpg);
    z-index: 20;
    height: 100vh;
    width: 95%;

  }

  .hero__heading{
    color: #fff;
    font-size: 5rem;
  }

  .hero__heading span {
    background: #FF5F6D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000851);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mo-text-fill-color: transparent;

    float: right;
  
  }
.hero__description{
  color: white;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  #paul__selfie{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  /* About Section */

  #carleton__pic{
    display: flex;
    justify-content: center;
  }

.about{
  display: flex;
}

.about__cards{
  border: 50px;
  align-items: center;

  text-align: center;
  display: flex;
  justify-content: center;
}

.aboutp {
color: white;
align-items: center;
}

#about__card1{
  align-items: center;
  justify-content: center;
  text-align: center;
}

#about__card3 ul{
  color: white;
}
#about__card2 ol{
  color: white;
  border: red 50px;
}